<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
  <div class="container is-fluid">
    <div class="container" id="app">
      <div id="weather">
        <h4 id="is-right"
            is="weather"
            v-bind:weather-icon="weatherIcon"
            v-bind:weather-details="weatherDetails">{{weatherDetails}}
        </h4>
      </div>
       <div class="quote">
        <div class=text>
          <p>{{ quote }}</p>
        </div>
         <div class="author">
           {{ author }}
         </div>
        </div>
        <div class="social-quote">
          <div class="social-icons">
            <i v-on:click="shareTwitter" class="fab fa-twitter fa-lg"></i>
            <i v-on:click="getQuote" class="fas fa-sync fa-lg"></i>
          </div>
         </div>

         <div class="bottom-bar">
           <div class="columns">
             <div class="column">
               <div v-if="todo" class="todo">
                  <form v-on:submit.prevent="addNewTodo">
                      <input
                       v-model="newTodoText"
                       id="new-todo"
                       placeholder="Add a new task"
                      >
                    </form>
                    <ul>
                      <li
                        is="todo-item"
                        v-for="(todo, index) in todos"
                        v-bind:key="todo.id"
                        v-bind:title="todo.title"
                        v-on:remove="todos.splice(index, 1)"
                      ></li>
                    </ul>
                  </div>
                </div>
             <div class="column is-10">
               <div v-if="note" class="todo">
                <ul>
                  <button v-on:click="newNote = !newNote">+ Add note</button>
                  <form v-if="newNote" v-on:submit.prevent="addNewNote">
                    <input
                     v-model="newNoteTitle"
                     placeholder = "Your Title"
                    >
                    <textarea cols="14" rows="7" v-model="newNoteText"> 
                      Your Note 
                    </textarea>
                    <input type="submit" value="Submit"> <button v-on:click="clearNoteFields"> Clear</button>
                  </form>
                  <li
                    is="notes-item"
                    v-for="(note, index) in notes"
                    v-bind:key="note.id"
                    v-bind:title="note.title"
                    v-bind:text="note.text"
                    v-bind:open="note.done"
                  ></li>
                </ul>
              </div>
             </div>
           </div>
          <div class="columns">
            <div class="column">
              <div id="todo">
                <button v-on:click="todo = !todo">
                  <h4><i class="far fa-check-square fa-lg"></i> To Do List</h4>
                </button>
              </div>
            </div>
            <div class="column">
              <div>
                <button v-on:click="note = !note">
                  <h4><i class="far fa-sticky-note fa-lg"></i> Notes</h4>
                </button>
              </div>
            </div>
            <div class="column is-offset-4">
              <div id="time">
                <span class="is-size-5">{{time}}</span> <br> <span class="is-size-6">{{date}}</span>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>


<script src="main.js"></script>
</body>
</html>